@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 50px;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Aplicamos Roboto */
}

.logo img {
  height: 50px;
  margin-right: 1rem;
}

.navbar h1 {
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Aplicamos Roboto */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Roboto', sans-serif; /* Aplicamos Roboto */
}

ul li {
  margin-left: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; /* Aplicamos Roboto */
}

ul li a:hover {
  text-decoration: underline;
}

.login-link {
  background-color: #2196F3;
  padding: .5rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; /* Aplicamos Roboto */
}

.login-link:hover {
  background-color: #1976D2;
  cursor: pointer;
  text-decoration: none;
}

.register-link {
  background-color: #4CAF50;
  padding: .5rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; /* Aplicamos Roboto */
}

.register-link:hover {
  background-color: #388E3C;
  cursor: pointer;
  text-decoration: none;
}
