.add-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .game-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
  }
  
  input, select, textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  
  .submit-button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: gray;
  }
  