/* src/pages/GameList.css */

.game-list-container {
    padding: 20px; /* Espaciado interno */
  }
  
  .game-list {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a múltiples filas */
    justify-content: flex-start; /* Alineación al inicio */
  }
  
  /* src/pages/GameList.css */

.search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .game-list-container {
    padding: 20px;
  }
  
  .game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  